body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor1{
    background: url('RecursosA/alpinismo.webp') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}